// COLOR
$white: #ffffff;
$black: #000000;

$grey: #808080;
$lightgrey: #e3e3e3;
$spgrey: #f4f4f4;

$primary: #1a3751;
$secondary: #fd911f;

$correct: #99e265;
$error: #ff5b5c;

// SIZE
$border_radius: 3px;
